.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: #222831;
	gap: 10px;
	height: 93dvh;
}

.codeArea {
	border-radius: 0.4rem;
	text-align: center;
	min-width: 75%;
	min-height: 80%;
}

.nameContainer {
	/* margin: 0.5rem; */
	border-radius: 0.2rem;
	text-align: center;
	min-width: 75%;
	min-height: 3%;
	padding: 0.7rem;
	border: none;
	font-size: large;
	font-weight: bold;
	background: #31363f;
	color: #eeeeee;
	font-family: "Roboto", sans-serif;
}

.linkContainer {
	font-family: "Roboto", sans-serif;
	border-radius: 0.2rem;
	text-align: center;
	min-width: 75%;
	min-height: 6%;
	border: none;
	font-size: large;
	font-weight: bold;

	border-radius: 0.2rem;

	cursor: not-allowed;
	position: relative;
}
.linkContainer input {
	color: #eeeeee;

	height: 100%;
	width: 100%;
	border-radius: 0.2rem;
	text-align: center;
	border: none;
	font-size: large;
	font-weight: bold;
	background: #31363f;
	cursor: not-allowed;
}
.loadingIcon {
	scale: calc(1.3);
	position: absolute;
	top: 0%;
	right: 0%;
	height: 100%;
	width: 60px;
}
