.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background: lightcoral;
	height: 100vh;
}

.codeArea {
	/* margin: 0.5rem; */
	border-radius: 0.4rem;
	text-align: center;
	padding: 1rem;
	min-width: 75%;
	min-height: 65%;
}

.nameContainer {
	/* margin: 0.5rem; */
	border-radius: 0.2rem;
	text-align: center;
	min-width: 75%;
	min-height: 3%;
	padding: 0.7rem;
	border: none;
	font-size: large;
	font-weight: bold;
	background: white;
}

.linkContainer {
	/* margin: 0.5rem; */
	border-radius: 0.2rem;
	text-align: center;
	min-width: 75%;
	min-height: 6%;
	border: none;
	font-size: large;
	font-weight: bold;
	background: white;

	border-style: dotted;
	cursor: not-allowed;
	color: #777;
	position: relative;
}
.linkContainer input {
	height: 100%;
	width: 100%;
	border-radius: 0.2rem;
	text-align: center;
	border: none;
	font-size: large;
	font-weight: bold;
	background: white;
	cursor: not-allowed;
}
.loadingIcon {
	position: absolute;
	top: 20%;
	right: 0%;
	height: 60%;
	width: 50px;
}
