.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background: lightcoral;
	height: 100vh;
}

.container > textarea {
	margin: 0.5rem;
	border-radius: 0.4rem;
	text-align: center;
	padding: 1rem;
	min-width: 75%;
}

.linkContainer {
	margin: 0.5rem;
	border-radius: 0.2rem;
	text-align: center;
	min-width: 75%;
	min-height: 3%;
	padding: 0.7rem;
	border: none;
	font-size: large;
	font-weight: bold;
	background: white;
}

/* .container > input {
	margin: 0.5rem;
	border-radius: 0.2rem;
	text-align: center;
	padding: 1rem;
	min-width: 75%;
} */
