.container {
	background: lightcoral;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 0.2rem;
}

.titleContainer {
	font-size: 2rem;
	font-weight: bold;
}

.titleContainer:hover {
	cursor: pointer;
	text-decoration: underline;
}
