.container {
	font-family: "Roboto", sans-serif;
	background: #222831;
	display: flex;
	flex-direction: row;
	align-items: baseline;
	justify-content: space-between;
	align-items: center;
	padding: 0.2rem;
	height: 2.5rem;
}

.titleContainer {
	color: #76abae;
	font-size: 2rem;
	font-weight: bold;
	margin-left: 5%;
}

.titleContainer:hover {
	cursor: pointer;
	text-decoration: underline;
}

.icon {
	height: 90%;
	aspect-ratio: 1;
	margin: 5px;
}

.icon:hover {
	cursor: pointer;
	scale: calc(1.2);
}
